<article class="targeta">
    <img [src]="element.imatge || 'assets/placeholder.png'" [alt]="element.titol" class="targeta-imatge">
    <div class="targeta-contingut">
        <h3>{{ element.titol }}</h3>
        <p>{{ element.descripcio }}</p>
        <div class="targeta-info">
          <span *ngIf="element.categoria" class="categoria">
            {{ element.categoria }}
          </span>
          <span *ngIf="element.valoracio" class="valoracio">
            <i class="bi bi-star-fill" aria-hidden="true"></i>
            {{ element.valoracio }}
          </span>
        </div>
    </div>
</article>