<form class="formulari-cerca" (ngSubmit)="cercar()" #form="ngForm">
    <div class="grup-camp">
        <label for="camp-cerca">Cerca elements:></label>
        <div class="contenidor-input">
            <input type="text" id="camp-cerca" name="cerca" [(ngModel)]="textCerca" #campCerca="ngModel" minlength="3" placeholder="Mínim 3 caràcters..." aria-describedby="ajuda-cerca error-cerca" class="input-cerca" [class.invalid]="campCerca.invalid && campCerca.touched">
            <button type="submit" [disabled]="campCerca.invalid" class="boto-cerca" aria-label="Cercar Elements">
                <i class="bi bi-search" aria-hiden="true"></i> Cercar
            </button>
            <button *ngIf="textCerca" type="button" (click)="netejar()" class="boto-netejar" aria-label="Esborrar cerca">
                <i class="bi bi-x-lg" aria-hiden="true"></i> Netejar
            </button>
        </div>
        <small id="ajuda-cerca" class="ajuda">Escriu al menys 3 caràcters per cercar</small>

        <div *ngIf="campCerca.invalid && campCerca.touched" id="error-cerca" class="error" role="alert" aria-live="assertive">
            <span *ngIf="campCerca.errors?.['minlength']">La cerca ha de tenir al menys 3 caràcters</span>
        </div>
    </div>
</form>